@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav {
        @apply
        text-2xl
        font-extralight
        flex
        items-center
        justify-between
        flex-wrap
        p-4
        flex-shrink-0
        tracking-tight
        text-violet-700
        bg-emerald-300
        hover:text-black
        hover:bg-emerald-400
        dark:text-violet-300
        dark:bg-emerald-400
        dark:hover:text-white
        dark:hover:bg-emerald-300;
    }
    .footer {
        @apply
        p-4
        bottom-0
        w-full
        fixed
        flex
        justify-between
        items-center
        bg-blue-300
        hover:bg-blue-500
        dark:bg-blue-900
        dark:hover:bg-blue-700;
    }
}