@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav {
        @apply
        text-2xl
        font-extralight
        flex
        items-center
        justify-between
        flex-wrap
        p-4
        flex-shrink-0
        tracking-tight
        text-violet-700
        bg-emerald-300
        hover:text-black
        hover:bg-emerald-400
        dark:text-violet-300
        dark:bg-emerald-400
        dark:hover:text-white
        dark:hover:bg-emerald-300
        selection:bg-pink-300;
    }
    .footer {
        @apply
        p-4
        w-full
        fixed
        bottom-0
        z-10
        flex
        justify-between
        items-center
        bg-blue-300
        hover:bg-blue-500
        dark:bg-blue-900
        dark:hover:bg-blue-700
        selection:bg-pink-300;
    }
    .btn {
        @apply
        p-1
        text-left
        font-mono
        border-x-2
        border-y-2
        border-violet-700
        text-violet-700
        bg-emerald-300
        hover:border-black
        hover:text-black
        hover:bg-emerald-400
        dark:border-violet-300
        dark:text-violet-300
        dark:bg-emerald-400
        dark:hover:border-white
        dark:hover:text-white
        dark:hover:bg-emerald-300
        selection:bg-pink-300;
    }
    .in-btn {
        @apply
        border-x-2
        border-y-2
        border-violet-700
        text-violet-700
        bg-emerald-300
        hover:border-black
        hover:text-black
        hover:bg-emerald-400
        dark:border-violet-300
        dark:text-violet-300
        dark:bg-emerald-400
        dark:hover:border-white
        dark:hover:text-white
        dark:hover:bg-emerald-300
        selection:bg-pink-300;
    }
    .top {
        @apply
        text-2xl
        font-extralight
        flex
        items-center
        justify-between
        flex-wrap
        text-violet-700
        bg-emerald-300
        dark:text-violet-300
        dark:bg-emerald-400
        selection:bg-pink-300;
    }
    .itirann {
        @apply
        text-xl
        text-center
        underline
        text-gray-700
        bg-slate-100
        dark:text-gray-300
        dark:bg-gray-700
        selection:bg-pink-300;
    }
    .title {
        @apply
        text-lg
        border-y-2
        flex-auto
        overflow-auto
        bg-slate-200
        hover:bg-sky-400
        border-black
        selection:bg-pink-300;
    }
}